<!--<app-navbar></app-navbar>
<md-tab-group>
  <md-tab label="Available Stock">
    <md-card>
      <md-card-title>Available Stock</md-card-title>
      <img md-card-avatar>

      <md-card-content>The list of the stock comes here!</md-card-content>
    </md-card>

  </md-tab>
  <md-tab label="Serving">
    <md-card>
      <md-card-title>All incomplete serves</md-card-title>
      <img md-card-avatar>

      <md-card-content>The main content comes there</md-card-content>
    </md-card>

  </md-tab>
  <md-tab label="Completed">
    
  </md-tab>
</md-tab-group>-->

<app-navbar></app-navbar>
<div class="container">
  <md-card>
    <md-card-title>This is the title</md-card-title>
    <md-card-content>this is where the content goes</md-card-content>
  </md-card>
</div>
