<app-navbar></app-navbar>
<md-tab-group>
  <md-tab label="Available Stock">
    <md-card>
      <md-card-title>Available Stock</md-card-title>
      <img md-card-avatar>

      <md-card-content>
        <md-input-container class="full-width">
          <input mdInput placeholder="Search">
        </md-input-container>
        <table class="table-striped full-width" cellspacing="0">
          <thead>
            <tr>
              <th>Product name</th>
              <th>Price</th>
              <th>Available units</th>
              <th>Make order</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of availableStock">
              <td>{{record.name}}</td>
              <td>{{record.volume}}</td>
              <td>{{record.costPUnit}}</td>
              <td><button [routerLink]="['/sellStock/'+record.$key]" md-button>order</button></td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>    
  </md-tab>


  <md-tab label="Serving">
    <app-serving></app-serving>

  </md-tab>


  <md-tab label="Completed">
    <app-complete></app-complete>
  </md-tab>
</md-tab-group>

<!--<app-navbar></app-navbar>
<div class="container">
  <md-card>
    <md-card-title>This is the title</md-card-title>
    <md-card-content>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>test</th>
            <th>test</th>
            <th>test</th>
          </tr>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
          </tr>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
          </tr>
          <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
          </tr>
        </table>
      </div>
      
    </md-card-content>
  </md-card>
</div>-->
